.Container2 {
  padding: 0;
  width: 100% !important;
  overflow-x: hidden !important;
  min-height: 100vh;
  margin-bottom: 0;
}

.Navbar {
  margin-bottom: 0 !important;
}

.header-text {
  margin-top: 0 !important;
}

.questions-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.question-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  max-width: 90%;
}

.question-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.question-number {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0; /* Add this line to remove the margin-bottom */
  margin-left: 0;
}

.question-title {
  font-size: 24px;
  font-weight: bold;
}

.question-body {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn {
  display: inline-block;
  background-image: linear-gradient(90deg, #182099, #2F22A7, #7F2BD5, #8E2CDE, #3E24AF);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 10px;
}

.answer-btn {
  display: inline-block;
  background-color: #f5f5f5;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}
